body {
background-color:#9D4F00;
font-family:sans-serif,Arial;
font-size:10pt;
margin:0;
}
#content
{
margin-top: 50px;
margin-left: auto;
margin-right: auto;
width:800px;
height:900px;
background:#FFCC66;
border:#F19836 5px solid ;
}
#content2
{
margin-top: 100px;
margin-left: auto;
margin-right: auto;

}
#menu_content
{
vertical-align:middle;
width:800px;
height:50px;
}
#header
{
margin-top:20px;
margin-bottom:0px;
margin-left: auto;
margin-right: auto;
width:800px;
}
#meniu
{
vertical-align:middle;
background:#F19836;
height:50px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
width:800px;
}
#linkuri
{
font-size:18px;
font-family:"trebuchet ms",helvetica,sans-serif;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
text-align:center;
background:#A36232 repeat-x scroll center bottom;
color:#000000;
text-decoration:none;
}

