body {
background-color:#9D4F00;
font-family:sans-serif,Arial;
font-size:10pt;
margin:0;
}
#content
{
margin-top: 50px;
margin-left: auto;
margin-right: auto;
width:800px;
height:800px;
background:#FFCC66;
border:#F19836 5px solid ;
}
#meniu
{
background:#F19836;
height:30px;
margin-right:100px;
margin-left:100px;
margin-top: 50px;
}
#linkuri
{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#6D1D0E repeat-x scroll center bottom;
color:#FFFFFF;
}

